# Use like:

# name: Lint GitHub Actions Workflows
# on:
#   push:
#     paths:
#     - '.github/workflows/**'
# jobs:
#   actionlint:
#     # using `main` as the ref will keep your workflow up-to-date
#     uses: hashicorp/vault-workflows-common/.github/workflows/actionlint.yaml@main

name: Lint GitHub Actions Workflows

on:
  workflow_call: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: "Check workflow files"
        uses: docker://docker.mirror.hashicorp.services/rhysd/actionlint:latest
