# Use like:

# name: Upgrade dependencies
# on:
#   workflow_dispatch:
#   schedule:
#     # Runs 12:00AM on the first of every month
#     - cron: '0 0 1 * *'
# jobs:
#   upgrade:
#     # using `main` as the ref will keep your workflow up-to-date
#     uses: hashicorp/vault-workflows-common/.github/workflows/bulk-dependency-updates.yaml@main
#     secrets:
#       VAULT_ECO_GITHUB_TOKEN: ${{ secrets.VAULT_ECO_GITHUB_TOKEN }}
#     with:
#       # either hashicorp/vault-ecosystem-applications or hashicorp/vault-ecosystem-foundations
#       reviewer-team: hashicorp/vault-ecosystem-applications
#       repository: ${{ github.repository }}
#       run-id: ${{ github.run_id }}

name: Upgrade dependencies

on:
  workflow_call:
    inputs:
      reviewer-team:
        required: true
        type: string
        description: 'Team to review the resulting PR. Either hashicorp/vault-ecosystem-applications or hashicorp/vault-ecosystem-foundations.'
      repository:
        required: true
        type: string
        description: 'The owner and repository name as per the github.repository context property.'
      run-id:
        required: true
        type: string
        description: 'The workflow run ID as per the github.run_id context property.'
    secrets:
      VAULT_ECO_GITHUB_TOKEN:
        required: true
        description: 'Should be different than the default GITHUB_TOKEN so that this workflow will trigger checks on the resulting PR.'

jobs:
  upgrade:
    name: Upgrade & Open Pull Request
    runs-on: ubuntu-latest
    env:
      # This branch will receive updates each time the workflow runs
      # It doesn't matter if it's deleted when merged, it'll be re-created
      BRANCH_NAME: auto-dependency-upgrades
      GITHUB_TOKEN: ${{ secrets.VAULT_ECO_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          # We don't use the default token so that checks are executed on the resulting PR
          # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#triggering-a-workflow-from-a-workflow
          token: ${{ secrets.VAULT_ECO_GITHUB_TOKEN }}
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: .go-version

      - name: Upgrade Go dependencies
        run: |
          go list -u -m -json all | jq -r 'select(.Indirect != true and .Update != null) | .Path+"@"+.Update.Version' | xargs -L1 go get
          go mod tidy

      - name: Detect changes
        id: changes
        run:
          # This output boolean tells us if the dependencies have actually changed
          echo "count=$(git status --porcelain=v1 2>/dev/null | wc -l)" >> "$GITHUB_OUTPUT"

      - name: Commit & push changes
        # Only push if changes exist
        if: steps.changes.outputs.count > 0
        run: |
          git config user.name hc-github-team-secure-vault-ecosystem
          git config user.email hc-github-team-secure-vault-ecosystem@users.noreply.github.com
          git add .
          git commit -m "Automated dependency upgrades"
          git push -f origin ${{ github.ref_name }}:"$BRANCH_NAME"

      - name: Open pull request if needed
        if: steps.changes.outputs.count > 0
        env:
          REVIEWER_TEAM: ${{ inputs.reviewer-team }}
          REPO: ${{ inputs.repository }}
          RUN_ID: ${{ inputs.run-id }}
        # Only open a PR if the branch is not attached to an existing one
        run: |
          PR=$(gh pr list --head "$BRANCH_NAME" --json number -q '.[0].number')

          # currently unable to set team as reviewer in GHA
          # see https://github.com/cli/cli/issues/6395
          reviewers=""
          if [[ "$REVIEWER_TEAM" == "hashicorp/vault-ecosystem-applications" ]]; then
            reviewers="austingebauer,fairclothjm,vinay-gopalan,maxcoulombe,robmonte,Zlaticanin,kpcraig,raymonstah"
          elif [[ "$REVIEWER_TEAM" == "hashicorp/vault-ecosystem-foundations" ]]; then
            reviewers="swenson,benashz,tvoran,tomhjp,kschoche,thyton"
          else
            echo "Unknown input for reviewer-team"
            exit 1
          fi

          if [ -z "$PR" ]; then
            gh pr create \
            --head "$BRANCH_NAME" \
            --title "Automated dependency upgrades" \
            --reviewer "$reviewers" \
            --label "dependencies" \
            --body "Full log: https://github.com/$REPO/actions/runs/$RUN_ID

            $(./go-mod-changelog.py)
            "
          else
            echo "Pull request already exists, won't create a new one."
            exit 1
          fi
