# Use like:

# name: Upgrade dependencies
# on:
#   workflow_dispatch:
#   schedule:
#     # Runs 12:00AM on the first of every month
#     - cron: '0 0 1 * *'
# jobs:
#   upgrade:
#     # using `main` as the ref will keep your workflow up-to-date
#     uses: hashicorp/vault-workflows-common/.github/workflows/bulk-dependency-updates.yaml@main
#     secrets:
#       REPO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       VAULT_ECO_GITHUB_TOKEN: ${{ secrets.VAULT_ECO_GITHUB_TOKEN }}
#     with:
#       # either hashicorp/vault-ecosystem-applications or hashicorp/vault-ecosystem-foundations
#       reviewer-team: hashicorp/vault-ecosystem-applications

name: Upgrade dependencies

on:
  workflow_call:
    inputs:
      reviewer-team:
        required: true
        type: string
        description: 'Team to review the resulting PR. Either hashicorp/vault-ecosystem-applications or hashicorp/vault-ecosystem-foundations.'
    secrets:
      REPO_GITHUB_TOKEN:
        required: true
      VAULT_ECO_GITHUB_TOKEN:
        required: true

jobs:
  upgrade:
    name: Upgrade & Open Pull Request
    runs-on: ubuntu-latest
    env:
      # This branch will receive updates each time the workflow runs
      # It doesn't matter if it's deleted when merged, it'll be re-created
      BRANCH_NAME: auto-dependency-upgrades
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: .go-version
          cache: true
          # Use a separate token to automatically execute checks on the resulting PR
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          token: ${{ secrets.REPO_GITHUB_TOKEN }}

      - name: Upgrade Go dependencies
        run: |
          go list -u -m -json all | jq -r 'select(.Indirect != true and .Update != null) | .Path+"@"+.Update.Version' | xargs -L1 go get
          go mod tidy

      - name: Detect changes
        id: changes
        run:
          # This output boolean tells us if the dependencies have actually changed
          echo "count=$(git status --porcelain=v1 2>/dev/null | wc -l)" >> "$GITHUB_OUTPUT"

      - name: Commit & push changes
        # Only push if changes exist
        if: steps.changes.outputs.count > 0
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Automated dependency upgrades"
          git push -f origin ${{ github.ref_name }}:"$BRANCH_NAME"

      - name: Open pull request if needed
        if: steps.changes.outputs.count > 0
        env:
          GH_TOKEN: ${{ secrets.VAULT_ECO_GITHUB_TOKEN }}
        # Only open a PR if the branch is not attached to an existing one
        run: |
          PR=$(gh pr list --head "$BRANCH_NAME" --json number -q '.[0].number')

          reviewers=""
          if [[ "${{ inputs.reviewer-team }}" == "hashicorp/vault-ecosystem-applications" ]]; then
            reviewers="austingebauer,fairclothjm,vinay-gopalan,maxcoulombe,robmonte,Zlaticanin,kpcraig,raymonstah"
          elif [[ "${{ inputs.reviewer-team }}" == "hashicorp/vault-ecosystem-foundations" ]]; then
            reviewers="swenson,benashz,tvoran,tomhjp,kschoche,thyton"
          else
            echo "Unknown input for reviewer-team"
            exit 1
          fi

          if [ -z "$PR" ]; then
            gh pr create \
            --head "$BRANCH_NAME" \
            --title "Automated dependency upgrades" \
            --body "Full log: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" \
            --reviewer "$reviewers" \
            --label "dependencies"
          else
            echo "Pull request already exists, won't create a new one."
            exit 1
          fi
