# use like:

# name: Go checks
# on:
#   push:
# jobs:
#   go-checks:
#     # using `main` as the ref will keep your workflow up-to-date
#     uses: hashicorp/vault-workflows-common/.github/workflows/go-checks.yaml@main


name: Run go checks

on:
  workflow_call:
    inputs:
      dir:
        description: Directory to run checks in
        type: string
        required: false
        default: "$PWD"
      gofumpt_version:
        description: 'Version of gofumpt to use'
        required: false
        type: string
        default: 'v0.5.0'
      gofumpt_exclude_patterns:
        description: List of grep patterns (comma-separated) to exclude for gofumpt check
        required: false
        type: string
        default: "vendor,pb.go"

jobs:
  gomod:
    name: Check that go.mod and go.sum are tidy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Setup Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: .go-version
      - name: Check go.mod and go.sum tidiness
        run: |
          go mod tidy
          if [ ! -z "$(git status --porcelain go.mod go.sum)" ]; then
            echo "Need to run 'go mod tidy'";
            exit 1;
          fi
  gofumpt:
    name: Check that code matches gofumpt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Setup Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: .go-version
      - name: Run gofumpt
        run: |
          echo "==> Install gofumpt ${{ inputs.gofumpt_version }}"
          go install mvdan.cc/gofumpt@${{ inputs.gofumpt_version }}
          echo "==> Checking that code complies with gofmt requirements..."

          files=$(find . -name '*.go')
          patterns='${{ inputs.gofumpt_exclude_patterns }}'
          OLDIFS=$IFS
          IFS=","
          for pattern in $patterns; do
            files=$(echo $files | grep -v $pattern);
          done
          IFS=$OLDIFS
          gofmt_files=$(gofmt -l $files)
          if [[ -n ${gofmt_files} ]]; then
              echo 'gofmt needs running on the following files:'
              echo "${gofmt_files}"
              echo "You can use the command: \`gofumpt -w\` to reformat them."
              exit 1
          fi
